

.list{
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
.item a{
  display: block;
  text-decoration: none;
  color: white;
  padding: 5px 0 5px 40px;
}
.active{
  color: red;
  background-color: springgreen;
}