.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.items{
  margin: 0;
  padding: 10px;
  list-style: none;
}
.item{
  padding: 5px;
}
.item .active{
  background-color: springgreen;
}
.messages{
  padding: 10px;
}
.message{
  padding: 10px;
}